@model IEnumerable<IS220_PROJECT.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Banner Start -->
<section class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="round-shape"></span>
                <h2 class="banner-title">SHOP</h2>
                <div class="bread-crumb"><a asp-action="Index">TRANG CHỦ</a> / SHOP</div>
            </div>
        </div>
    </div>
</section>    
<!-- Banner End -->
        <!-- Shop Section Start -->
        <section class="shop-left-sidebar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="shop-sidebar">
                            <aside class="widget widget-categories">
                                <h3 class="widget-title">Phân loại</h3>
                                <ul>
                                    <li><a href="#">Thương hiệu</a><i class="twi-angle-down1"></i></li>
                                    <li><a href="#">CPU</a><i class="twi-angle-down1"></i></li>
                                    <li><a href="#">RAM</a><i class="twi-angle-down1"></i></li>
                                    <li><a href="#">Loại ổ cứng</a><i class="twi-angle-down1"></i></li>
                                    <li><a href="#">Loại card đồ họa</a><i class="twi-angle-down1"></i></li>
                                    <li>
                                        <a href="#">Khuyến mãi</a>
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="widget">
                                <h3 class="widget-title">Giá (1000 VNĐ)</h3>
                                <div class="price_slider_wrapper">
                                    <form action="#" method="get" class="clearfix">
                                        <div id="slider-range"></div>
                                    </form>
                                </div>
                            </aside>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="results">
                                    Showing 9 / 35 results
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="sort-view">
                                    <a class="view-mode active" href="#"><i class="twi-th"></i></a>
                                    <a class="view-mode" href="#"><i class="twi-bars"></i></a>
                                    <div class="sorts">
                                        <select name="sort">
                                            <option value="">Default Sorting</option>
                                            <option selected="selected" value="">low to high</option>
                                            <option value="">high to low</option>
                                            <option value="">Best Seller</option>
                                            <option value="">Popular Products</option>
                                        </select>
                                        <i class="twi-angle-down1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="single-shop-product">
                                    <div class="sp-thumb">
                                        <a>
                                            <img src="../assets/images/shop/7.jpg" alt="" class="">
                                        </a>
                                        <div class="pro-badge">
                                            <p class="sale">Sale</p>
                                        </div>
                                    </div>
                                    <div class="sp-details">
                                        <h4>Wireless Headset</h4>
                                        <div class="product-price clearfix">
                                            <span class="price">
                                                <del><span><span class="woocommerce-Price-currencySymbol">$</span>42.00</span></del>
                                                <ins><span><span class="woocommerce-Price-currencySymbol">$</span>38.00</span></ins>
                                            </span>         
                                        </div>
                                        <div class="sp-details-hover">
                                            <a class="sp-cart" href="#"><i class="twi-cart-plus"></i><span>Add to cart</span></a>
                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single-shop-product">
                                    <div class="sp-thumb">
                                        <img src="../assets/images/shop/5.jpg" alt="" class="">
                                        <div class="pro-badge">
                                            <p class="hot">Hot</p>
                                        </div>
                                    </div>
                                    <div class="sp-details">
                                        <h4>VRBOX Gaming</h4>
                                        <div class="product-price clearfix">
                                            <span class="price">
                                                <del><span><span class="woocommerce-Price-currencySymbol">$</span>42.00</span></del>
                                                <ins><span><span class="woocommerce-Price-currencySymbol">$</span>38.00</span></ins>
                                            </span>         
                                        </div>
                                        <div class="sp-details-hover">
                                            <a class="sp-cart" href="#"><i class="twi-cart-plus"></i><span>Add to cart</span></a>
                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single-shop-product">
                                    <div class="sp-thumb">
                                        <img src="../assets/images/shop/9.jpg" alt="" class="">
                                    </div>
                                    <div class="sp-details">
                                        <h4>Gaming Cate Headset</h4>
                                        <div class="product-price clearfix">
                                            <span class="price">
                                                <del><span><span class="woocommerce-Price-currencySymbol">$</span>42.00</span></del>
                                                <ins><span><span class="woocommerce-Price-currencySymbol">$</span>38.00</span></ins>
                                            </span>         
                                        </div>
                                        <div class="sp-details-hover">
                                            <a class="sp-cart" href="#"><i class="twi-cart-plus"></i><span>Add to cart</span></a>
                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single-shop-product">
                                    <div class="sp-thumb">
                                        <img src="../assets/images/shop/2.jpg" alt="">
                                    </div>
                                    <div class="sp-details">
                                        <h4>Gaming Controller</h4>
                                        <div class="product-price clearfix">
                                            <span class="price">
                                                <del><span><span class="woocommerce-Price-currencySymbol">$</span>42.00</span></del>
                                                <ins><span><span class="woocommerce-Price-currencySymbol">$</span>38.00</span></ins>
                                            </span>         
                                        </div>
                                        <div class="sp-details-hover">
                                            <a class="sp-cart" href="#"><i class="twi-cart-plus"></i><span>Add to cart</span></a>
                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single-shop-product">
                                    <div class="sp-thumb">
                                        <img src="../assets/images/shop/8.jpg" alt="" class="">
                                    </div>
                                    <div class="sp-details">
                                        <h4>Wirless Headset</h4>
                                        <div class="product-price clearfix">
                                            <span class="price">
                                                <span><span class="woocommerce-Price-currencySymbol">$</span>122.00</span>
                                            </span>         
                                        </div>
                                        <div class="sp-details-hover">
                                            <a class="sp-cart" href="#"><i class="twi-cart-plus"></i><span>Add to cart</span></a>
                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single-shop-product">
                                    <div class="sp-thumb">
                                        <img src="../assets/images/shop/1.jpg" alt="" class="">
                                        <div class="pro-badge">
                                            <p class="out-of-stock">out of stock</p>
                                        </div>
                                    </div>
                                    <div class="sp-details">
                                        <h4>Gaming Mouse</h4>
                                        <div class="product-price clearfix">
                                            <span class="price">
                                                <del><span><span class="woocommerce-Price-currencySymbol">$</span>42.00</span></del>
                                                <ins><span><span class="woocommerce-Price-currencySymbol">$</span>38.00</span></ins>
                                            </span>         
                                        </div>
                                        <div class="sp-details-hover">
                                            <a class="sp-cart" href="#"><i class="twi-cart-plus"></i><span>Add to cart</span></a>
                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single-shop-product">
                                    <div class="sp-thumb">
                                        <img src="../assets/images/shop/4.jpg" alt="" class="">
                                    </div>
                                    <div class="sp-details">
                                        <h4>Drones</h4>
                                        <div class="product-price clearfix">
                                            <span class="price">
                                                <del><span><span class="woocommerce-Price-currencySymbol">$</span>42.00</span></del>
                                                <ins><span><span class="woocommerce-Price-currencySymbol">$</span>38.00</span></ins>
                                            </span>         
                                        </div>
                                        <div class="sp-details-hover">
                                            <a class="sp-cart" href="#"><i class="twi-cart-plus"></i><span>Add to cart</span></a>
                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single-shop-product">
                                    <div class="sp-thumb">
                                        <img src="../assets/images/shop/6.jpg" alt="" class="">
                                    </div>
                                    <div class="sp-details">
                                        <h4>home Assistance</h4>
                                        <div class="product-price clearfix">
                                            <span class="price">
                                                <span><span class="woocommerce-Price-currencySymbol">$</span>122.00</span>
                                            </span>         
                                        </div>
                                        <div class="sp-details-hover">
                                            <a class="sp-cart" href="#"><i class="twi-cart-plus"></i><span>Add to cart</span></a>
                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single-shop-product">
                                    <div class="sp-thumb">
                                        <img src="../assets/images/shop/3.jpg" alt="" class="">
                                    </div>
                                    <div class="sp-details">
                                        <h4>Bluetooth Earphones</h4>
                                        <div class="product-price clearfix">
                                            <span class="price">
                                                <del><span><span class="woocommerce-Price-currencySymbol">$</span>42.00</span></del>
                                                <ins><span><span class="woocommerce-Price-currencySymbol">$</span>38.00</span></ins>
                                            </span>         
                                        </div>
                                        <div class="sp-details-hover">
                                            <a class="sp-cart" href="#"><i class="twi-cart-plus"></i><span>Add to cart</span></a>
                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1 col-md-12 mt-20">
                                <div class="pagniation text-center clearfix">
                                    <a class="prev" href="#"><i class="twi-long-arrow-alt-left"></i></a>
                                    <span class="current">1</span>
                                    <a href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a class="next" href="#"><i class="twi-long-arrow-alt-right"></i></a>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <!-- Shop Section End -->