
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!-- Banner Start -->
        <section class="page-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="round-shape"></span>
                        <h2 class="banner-title">Về chúng tôi</h2>
                        <div class="bread-crumb"><a asp-action="Index">TRANG CHỦ</a> / Về chúng tôi</div>
                    </div>
                </div>
            </div>
        </section>    
        <!-- Banner End -->

        <!-- History Section Start -->
        <section class="history-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h3 class="sec-title">Lịch sử hình thành</h3>
                        <p>
                            Từ đồ án môn học IS220 và lý tưởng hành trình "Dạo bước công nghệ"
                        </p>
                        <p>
                            Với 3 thành viên:  <br/>
                                - Trần Văn Nhân <br/>
                                - Nguyễn Quốc Vinh   <br/>
                                - Dương Bảo Tâm
                        </p>
                        <a href="#" class="btn">start now</a>
                    </div>
                    <div class="col-lg-5">
                        <div class="history-thumb">
                            <img src="~/images/about/first.jpg" style="width: 100%;" alt="">
                        </div>
                    </div>
                </div>
                <div class="row m-top-113">
                    <div class="col-lg-12">
                        <div class="video-banner" style="background-image: url(~/images/about/first.jpg);">
                            <a class="popup-video" href="https://drive.google.com/file/d/1eAHK_1UPs_c0_JqGwNEi5i9XDFC16BDx/preview" data-rel="lightcase"><i class="twi-play-circle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- History Section End -->

        <!-- Service Section Start -->
        <section class="service-section service-ab">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <img src="../assets/images/home/truck2.png" alt="">
                            <h4>100% Free Shipping</h4>
                            <p>We ship all our products for free as long as you buying within the USA.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <img src="../assets/images/home/headphone2.png" alt="">
                            <h4>24/7 Support</h4>
                            <p>Our support team is extremely active, you will get response within 2 minutes.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <img src="../assets/images/home/undo2.png" alt="">
                            <h4>30 Day Return</h4>
                            <p>Our 30 day return program is open from customers, just fill up a simple form.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service Section End -->

        <!-- Client Section Start -->
        <section class="client-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="client-logo owl-carousel">
                            <a href="#"><img src="../assets/images/home/client-logo/1.png" alt=""></a>
                            <a href="#"><img src="../assets/images/home/client-logo/2.png" alt=""></a>
                            <a href="#"><img src="../assets/images/home/client-logo/3.png" alt=""></a>
                            <a href="#"><img src="../assets/images/home/client-logo/4.png" alt=""></a>
                            <a href="#"><img src="../assets/images/home/client-logo/5.png" alt=""></a>
                            <a href="#"><img src="../assets/images/home/client-logo/1.png" alt=""></a>
                            <a href="#"><img src="../assets/images/home/client-logo/2.png" alt=""></a>
                            <a href="#"><img src="../assets/images/home/client-logo/3.png" alt=""></a>
                            <a href="#"><img src="../assets/images/home/client-logo/4.png" alt=""></a>
                            <a href="#"><img src="../assets/images/home/client-logo/5.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Client Section End -->
